/* This is font section */
.fira-sans-thin {
  font-family: "Fira Sans", serif;
  font-style: normal;
}

/* default section */
*{
    margin:0;
    padding: 0;
    
}
body{
    background-color: #F1F1F3;
}

/* Start header Section */

/* Start Nav Section */
nav .nav-div{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:0 144px;
    padding: 24px;
}

nav .nav-div .nav-div-left{
    font-size: 32px;
    font-weight: bold;

}

.nav-btn{
    font-size:10px;
    padding:15px;
    color:#006A50;
    border:none;
    border-radius: 8px;
    font-weight: 600;
}

nav .nav-div .nav-div-right a{
    text-decoration: none;

}

/* Start Banner Section */
.banner-section{

}

.banner{
        width:1152px;
    height:560;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.banner-section .banner .banner-left{
    width:560px;
    height: 294px;
    margin:106px 54px;
}

.banner-img{
    width:427px;
    height:360px;
   

}
.banner-h6{
    color:#006A50;
    font-size:21px;
    font-weight: 400;
    padding-bottom: 20px;
}
.banner-h1{
    font-size:56px;
    font-weight: bold;
}
.banner-btn{
    background-color: #006A50;
    color: white;
    padding:13px 27px;
    border-radius: 8px;
    margin-top:15px;
    border:none;
    
}
.banner-color{
    background-color:#C6E4D6;
}

/* Start main section */
main{
    margin-top:70px;
}
.main-div{
    
   width:1152px;
    height:560;
    margin:0 auto;
}
.sub-div{
    display: flex;
    justify-content: space-between;
}
.main-h2{
    color:#0E0E0E;
    font-weight: bold;
    font-size: 40px;
    margin-bottom:20px;
}
.sub1{
    border-radius: 8px;
    background-color: #FFFFFF;
    width:302px;
    height:244px;
    border-radius: 8px;
    padding:24px;
    margin:10px;
    box-shadow: 4px 4px 4px;

}
.sub1:hover{
       box-shadow: 8px 8px 8px white;
       background-color: aqua;

}
.main-img{
height: 44px;
width:44px;
padding: 8px;
margin-bottom: 10px;    
}
.main-h4{
    color:#0E0E0E;
    font-size:20px;
    font-weight: bold;
    margin-bottom:30px;
}
.main-p{
    color:#0E0E0E;
    font-size: 16px;
    font-weight: 200;
}
.vision{
    border-radius: 8px;
    width:1152px;
    height:560;
    margin:0 auto;

}

.vision1{
    margin-top:40px;
    margin-bottom: 20px;
}
.vision-h2{
    font-size:40px;
    font-weight: bold;
    margin-bottom: 20px;

}
.vision-p{
    font-size:16px;
    font-weight: 200;
    color:#0E0E0E;
    margin:20px 0;
}
.default{
    justify-content: space-between;
}
.vis1{
    background-color:#91b5f1 ;
}
.vis2{
    background-color: #95bbaa;
}
.vis3{
    background-color: #b49d66;
}

.vision3{
    background-color: #FFFFFF;
   box-shadow: 40px white  ;
   padding:48px;
   margin:30px 0;
   border-radius: 8px;
    
}
.vision-h3{
    font-size: 20px;
    font-weight: 600;


}
.vision-p{
    font-size:13px;
    font-weight: 400;
}
.dark{
    color:#0E0E0E;
}

.vision-btn1{
    background-color: #5490F5;
    padding:11px 20px;
    margin:10px 0;
    font-size: 10px;
    border: none;
    border-radius: 8px;
}
.vision-btn2{
    background-color: #09A15C;
    padding:11px 20px;
    margin:10px 0;
    font-size: 10px;
    border: none;
    border-radius: 8px;
}

.vision-btn3{
    background-color: #FFC239;
    padding:11px 20px;
    margin:10px 0;
    font-size: 10px;
    border: none;
    border-radius: 8px;
}
.vision-btn1:hover{
    padding:15px 23px;

}
.vision-btn2:hover{
    padding:15px 23px;

}
.vision-btn3:hover{
    padding:15px 23px;

}
.oponion-div1{
     border-radius: 8px;
    width:1152px;
    margin:0 auto;
    

}
.oponion-div2{
    height:409px;
    background-color: #FFFFFF;
   box-shadow: 40px white;
   border-radius: 8px;
   display:flex;
   justify-content: center;
   align-items: center;
}
.table-op{
    border-collapse: collapse;
    width:1110px;
    height: 300px;
    margin:0 auto;
}
tr{
    height: 10px;
    
}
th{
    
    height:20px;
}

/* start Recent Section */
.recent{
    margin-top:70px;
}
.recent-main{
     width:1152px;
    margin:0 auto;

}
.recent-head{
    font-size: 40px;
    font-weight: bold;

}
.recent-p{
    font-size:10px;
    font-weight: 300;
    font-color:#0E0E0E;
    margin-top:50px;
}
.recent-div2-abba{
    background-color: #FFFFFF;
   box-shadow: 40px white;
   border-radius: 8px;
   margin-top: 20px;

}
.recent-div2{
    display: flex;
    align-items: center;
}
.recent-img{
    width:290px;
    height:218px;
    margin: 34px;
   
    border-radius:17px;


}
.recent-sub-div2{
    width: 521px;
    height: 211px;
    background-color: #FFFFFF;
   box-shadow: 40px white;
    
   

}

.recent-pa{
    width:528px;
    height:21px;
     font-size:10px;
    font-weight: 300;
    font-color:#0E0E0E;
    margin:9px 0px 0px 0px;
   
}
.recent-img-icon{
    height: 28px;
    width: 95px;
}
.recent-div-p{
    display: flex;
    gap:10px;
}
.recent-pu{
    margin-bottom: 57px;

}
.recent-btn{
    margin:37px 0px 0px 0px;
    padding:7px 12px;
    font-size: 8px;
    background-color: #006A50;
    border:none;
    border-radius: 5px;
    color:white;

}

.clone-mar{
    margin:40px 34px;
}
.onno{
    margin-left: 280px;
}

.donate-today{
    width:1152px;
    margin:0 auto;


}
.donate-head{
    text-align: center;
    font-size: 30px;
    font-weight: 700px;
}
.donate-p{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin:20px 0;
}

.money{
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.hun{
    text-align: center;
    width:170px;
    height: 70px;
      background-color: #FFFFFF;
   box-shadow: 35px white;
   border-radius: 8px;
    
}
.centa{
    height:20px;
    margin-top:30px;
    colot:black;
    font-weight: 800;
}
.good-clr{
    background-color: rgb(198, 228, 214);
}
.in{
   width:732px;
   margin-left:180px;
   padding:10px 20px 10px 20px;
   border-radius: 8px;
   border:1px solid white;
   text-align:center;
}
.donate-btn{
    text-align:center;
    margin-top:20px;
}
.don-btn{
    padding:5px;
    background-color: #006A50;
    border-radius: 4px;
    font-size: 10px;
    color:white;
    border:none;

}

.search-on{
    width:1152px;
    margin:0 auto;
    background-color: #C6E4D6;
    marrgin-top:60px;

}
.search-head{
    text-align: center;
    margin-top:100px;

}
.search-p{
    text-align:center;
    margin-top:10px;
}
.normal{
    padding-top:40px;
}
.form{
    text-align:center;
    margin-top:20px;
    
}
.ino{
    width: 600px;
    height:10px;
    border:none;
    padding:10px;
    border-radius: 8px;

}
.src-btn{
    
    border:none;
    padding:8px;
    border-radius: 5px;
    margin-left: -15px;
    
    background-color:#006A50 ;

}
.search{
    margin-top: 60px;
}
.ses-ongso{
    text-align: center;
    margin-top: 40px;
    font-size: 13px;
    font-weight: 400;
    padding: 20px;
}
.footer-div{
      width:1152px;
    margin:0 auto;
       background-color: #FFFFFF;
   box-shadow: 35px white;
}
.footer-head{
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    padding-top: 40px;
}
.image-div-fot{
    text-align: center;
    margin-top: 8px;

}
.img-six{
   margin:8px;

}